<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings,Microsoft.Practices.EnterpriseLibrary.Data" />

    <section name="wurfl" requirePermission="false"
             type="WURFL.Aspnet.Extensions.Config.WURFLConfigurationSection, Wurfl.Aspnet.Extensions" />
  </configSections>

  <connectionStrings>
    <add name="ClubMovil" connectionString="server=localhost;user id=root; password=; database=ClubMovil" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <dataConfiguration defaultDatabase="ClubMovil" >
    <providerMappings>
      <add databaseType="EntLibContrib.Data.MySql.MySqlDatabase, EntLibContrib.Data.MySql" name="MySql.Data.MySqlClient" />
    </providerMappings>
  </dataConfiguration>

  <wurfl mode="Accuracy">
    <mainFile path="~/App_Data/wurfl-latest.zip" />
    <patches>
      <patch path="~/App_Data/web_browsers_patch.xml" />
    </patches>
  </wurfl>

  <appSettings>
    <add key="Portal.Titulo" value="ClubMovil"/>

    <!-- Pruebas -->
    <add key="SIA.user" value="fusion"/>
    <add key="SIA.password" value="movil"/>
    <add key="SIA.MSISDN" value="msisdn"/>
    <add key="MSISDN.Default" value="1234567890"/>

    <add key="SIA.FavoritesService" value="http://localhost:49307/FavoritesService.asmx"/>
    <add key="SIA.TariffService" value="http://localhost:49307/TariffService.asmx"/>
    <add key="SIA.TransactionService" value="http://localhost:49307/TransactionService.asmx"/>
    <add key="SIA.UserService" value="http://localhost:49307/UserService.asmx"/>



    <add key="SIA.Redireccion.Favorites" value="http://localhost:49307/confirm_favorites.aspx"/>
    <add key="SIA.Redireccion.Transaction" value="http://localhost:49307/confirm_transaction.aspx"/>

    <add key="TipoContenido.Imagenes" value="1"/>
    <add key="TipoContenido.Tonos" value="2"/>
    <add key="TipoContenido.Videos" value="3"/>
    
    <add key="TipoContenido.SRSRatingId.1" value="1"/>
    <add key="TipoContenido.SRSRatingId.2" value="2"/>
    <add key="TipoContenido.SRSRatingId.3" value="3"/>

    <add key="TipoContenido.Creditos.1" value="1"/>
    <add key="TipoContenido.Creditos.2" value="2"/>
    <add key="TipoContenido.Creditos.3" value="3"/>

    <add key="TipoContenido.Archivos.Directorio.1" value="C:\Develop\ClubMovil\Contenido\Archivos\Imagenes"/>
    <add key="TipoContenido.Archivos.Directorio.2" value="C:\Develop\ClubMovil\Contenido\Archivos\Tonos"/>
    <add key="TipoContenido.Archivos.Directorio.3" value="C:\Develop\ClubMovil\Contenido\Archivos\Videos"/>

    <add key="TipoContenido.Archivos.Imagenes" value="C:\Develop\ClubMovil\Contenido\Imagenes"/>
   
    <!-- Produccion -->
    <!--<add key="SIA.user" value="Belectronics1"/>
    <add key="SIA.password" value="electro1"/>
    <add key="SIA.host" value="189.254.103.147:8088"/>-->

  </appSettings>


  <system.web>


    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" >
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Home/Login" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
      </providers>
    </profile>


    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />

        <add namespace="ClubMovilPortal.HtmlHelpers"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <!--validation validateIntegratedModeConfiguration="false"/> -->
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>

</configuration>

